html{width:100%; height:100%;}
body{width:100%; height:100%; padding:0; margin:0; background-color: #043E6B; color: #000;}
h2 a {color:white;}
fieldset{border-radius:10px; background:#3F92D2; border:dotted;}
.container{max-width:1024px; min-height:100%; padding:0; margin: 0 auto; background: #66A3D2; overflow:hidden;}
.title{font-size: 24px; color:#FFF;}
.navbar{background:#3F92D2;}
.btn
{    	
	color: #FFF;
	font: bold 13px Arial;
   	background-color: #0B62E4;
	transition: background 0.5s ease,color 0.5s ease;
	-webkit-transition: background 0.5s ease, color 0.5s ease; /* Safari */
}
.btn:hover{background:#043E6B;}
.feedbox {
	border: 2px solid black;
	border-radius: 5px;
	margin:1%;
	padding: 1%;
}

.scrollup {
	color: #FFF;
	font: bold 13px Arial;
 	display: block;
    position: fixed;
    right: 5px;
    bottom: 0px;
    width: 65px;
    height: 10px;
    padding: 10px;
    background: #444;
    cursor: pointer;
}

.date {
	font-size: 0.5em;
	font-style: italic;
	border: 1px solid blue;
	border-radius: 2px;
	padding:5px;
}

ul {list-style-type: none;}

li a {text-decoration: none; color: #000;}

.news {
	border:2px solid #333;
	margin: auto;
}

@media (max-width:539px)
{
	.title{padding-top:5px;margin:auto; text-align:center;}
	.buttons{width:100%; text-align:center;}
	.btn
	{
		display: block;
    	position:relative;
    	height:auto;
    	bottom:0;
    	top:0;
    	left:0;
    	right:0;
    	margin-top:10px;
    	margin-bottom:10px;
    	margin-right:0px;
    	margin-left:0px;
    	padding: 10px;

	}

	.navbar
	{
		width:100%;
		height:200px;
	}
	.feedbox {width:90%;}
}
@media (min-width:540px)
{
	.title{padding-top:5px;margin-bottom:0px; float:left;margin-right:8px;}
	.buttons{font-size: 24px; color:#FFF; padding-top:2px;margin-bottom:0px; float:left; }
	.btn
	{
		padding: 14px;
		margin:2px;
	}

	.navbar
	{
		width:100%;
		height:40px;
		padding-left:10px;
		padding-top:0px;!important
	}

	.feedbox {
		width:45.5%;
		float: left;
		height: 300px;
	}
}
